body{
  padding: 0;
  margin: 0;
}

#containerMatter{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top:0;
  position: fixed;
  z-index: 9;
  /*background-color: #f7f7f5;*/
  background-color: transparent;
  pointer-events: all;
}
#containerBG{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top:0;
  position: fixed;
  z-index: 9;
  background-color: #f7f7f5;
  background-color: #62d16d;
  background-image: url("/playground/campioni/imgs/soccer.jpg");
  background-size:cover;
  background-position: center;
  pointer-events: all;
  display: flex;
}
.banda-dark,
.banda-light {
  display: none;
  padding: 0;
  margin: 0;
  width: 12.5%;
  height: 100%;
}
.banda-dark {
  background-color: #008a17;
}
.banda-light {
  background-color: #62d16d;
}
h1{
  font-family: 'Arial',sans-serif;
  font-size: 100px;
  font-weight: 400;
  color: #000000;
  z-index: 99999;
  padding: 0;
  margin: 0;
  text-align: center;
}
.container-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
  pointer-events:none;
  box-sizing: border-box;
  cursor: url('/playground/campioni/imgs/shoe-min.png') 25 25, auto;
}
#inBasso {
  /*position: fixed;
  bottom: 0;
  /*display: none;*/
  width: 160px;
  height: 296px;
  background-color: transparent;
  pointer-events: all;
  z-index: 99;
  cursor: url('/playground/campioni/imgs/add-ball-min.png') 25 15, auto;
}
#btn-reseto {
  pointer-events: all;
  font-family: 'Times',serif;
  font-size: 110px;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -4px;
  color:#00b312;
  color:#ffea00;
  text-align: center;
  font-kerning: normal;
  cursor: url('/playground/campioni/imgs/refresh-min.png') 25 15, auto;
}
